@import url(../bower_components/normalize-css/normalize.css);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin,latin-ext);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto; }

#bars {
  background-color: #333333;
  color: #fad72c;
  width: 60px;
  height: 60px;
  border: none;
  left: 2.5em;
  top: 1.875em;
  position: absolute;
  cursor: pointer;
  border-radius: 50px;
  z-index: 999; }

.tooltip {
  display: inline;
  position: relative;
  transition: all 0.5 ease; }

.tooltip:hover:after {
  background: #333;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  top: 40px;
  left: 90%;
  content: attr(rel);
  padding: 1px 1px;
  position: absolute;
  z-index: 9998;
  width: 60px; }

#bars.slide {
  left: 230px;
  background-color: #375986; }

img {
  max-width: 100%; }

.container {
  *zoom: 1;
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
  height: 100%; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  .container .child {
    text-align: center; }
  .container .left {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .container .left:last-child {
      margin-right: 0; }
  .container .mid {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .container .mid:last-child {
      margin-right: 0; }
  .container .right {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .container .right:last-child {
      margin-right: 0; }
  .container i {
    cursor: pointer; }

.circle {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 9.375em;
  height: 9.375em;
  border-radius: 50%;
  background-color: deepskyblue; }

#logo {
  margin-top: 5%;
  padding-bottom: 20px;
  text-align: center;
  height: 30%;
  width: 40%;
  letter-spacing: 5px; }
  #logo .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25.58941%; }
    #logo .logo:last-child {
      margin-right: 0; }
  #logo .portfolio:before {
    font-family: 'Great Vibes';
    font-size: 4.5em;
    text-shadow: 2px 1px 3px;
    content: "Portfolio"; }
  #logo .portfolio:after {
    line-height: 1.5em;
    content: "Krzysztof Olszewski"; }

body {
  background: #fad72c;
  font-family: "Comfortaa", "Times New Roman", serif;
  color: #333; }

.hero-unit {
  display: none;
  left: 300px;
  top: 0;
  bottom: 0;
  width: 300px;
  margin-left: -300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  position: fixed;
  overflow-y: auto; }

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

#main {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top: solid 5px #333333;
  background-image: -webkit-radial-gradient( rgba(251, 224, 94, 0.9) 10%, rgba(250, 215, 44, 0.9) 70%), url("../images/fabric_plaid.png");
  background-image: radial-gradient(   rgba(251, 224, 94, 0.9) 10%, rgba(250, 215, 44, 0.9) 70%), url("../images/fabric_plaid.png"); }

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }

#menu > div > span {
  color: #333333;
  transition: all 0.6s ease; }

#menu > div > span:hover {
  color: #375986; }

.about {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: -240px;
  background-color: #375986;
  background-image: url("../images/about.gif");
  border-right: solid 1px #304d74;
  color: lightgrey;
  padding: 20px 5px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.85em;
  text-align: center;
  z-index: 1000;
  transition: all 0.5s ease; }
  .about .inner ul, .about .inner ol {
    text-align: left; }
  .about img {
    width: 120px;
    height: 120px;
    background: transparent;
    border-radius: 60px;
    border: solid 7px rgba(0, 0, 0, 0.1); }
  .about p {
    text-align: left;
    padding: 4px;
    text-indent: 1em;
    margin-bottom: -10px;
    word-wrap: break-word; }
  .about hr {
    margin-top: 15px;
    width: 85%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, lightgrey, #b9b9b9, lightgrey);
    background-image: linear-gradient(to right, lightgrey, #b9b9b9, lightgrey); }

.about.slide {
  left: 0px; }

@media screen and (max-width: 570px) {
  #logo .portfolio:before {
    font-size: 1.75em !important; }

  div.bl-panel-items > div > div h3 {
    font-size: 1.2em !important; }

  div.bl-panel-items > div > div p {
    font-size: 1em !important; }

  #bars {
    left: 1.25em;
    top: 0.9375em; } }
